---
import MainLayout from "@/layouts/MainLayout.astro";
import { productList } from "@/utils/mockData";
import { formatCurrency } from "@/utils/utils";
import { Image } from "astro:assets";
import AddToCart from '@/components/AddToCart';
import type { ProductItemResponse } from "@/model/model";

let product: ProductItemResponse | null = null
const { id } = Astro.params;

let error = null;

try {
  const response = await fetch(
    `${Astro.url.origin}/api/public/single/${id}`
  );
  if (!response.ok) {
    throw new Error("Failed to fetch products");
  }
  const data = await response.json();
  product = data

} catch (e) {
  console.error("Error fetching products:", e);
  error = "An error occurred while fetching products";
}

const discountedPrice = product?.price
  ? product.price - (product.price * (product.discount_percent || 0)) / 100
  : null;
---

<MainLayout>
  <div
    class="overflow-y-auto px-10 sm:px-40 h-[70dvh] flex justify-center items-center"
  >
    <div class="flex w-full min-w-[250px] flex-col rounded-lg bg-[#f5f7fe] p-6">
      <div class="grid grid-cols-6 gap-6">
        <div
          class="col-span-6 items-center flex max-h-[500px] w-full flex-col gap-4 lg:col-span-3 lg:flex-row"
        >
          <img src={`/${product?.image_url}`} alt={product?.name} class="h-[400px] object-fill" />
        </div>
        <div class="col-span-6 lg:col-span-3">
          <h1 class="text-2xl font-semibold text-default-600">
            {product?.name}
          </h1>
          <div class="my-2 flex items-center gap-2">
            <span class="text-xl font-bold text-main">
              {
                product &&
                product?.discount_percent > 0
                  ? formatCurrency(discountedPrice!)
                  : formatCurrency(product?.price!)
              }</span
            >
            {
              product &&
              product?.discount_percent > 0 && (
                <span class="line-through">{formatCurrency(product?.price)}</span>
                <span class="rounded-md bg-red-400 px-2 text-white">{`-${product?.discount_percent}% off`}</span>
              )
            }

           
          </div>
          <div class="mb-5 border-b-2 pb-5 space-y-3">
            <p class="line-clamp-3">
             {product?.description}
            </p>
            <h3 class="text-2xl font-semibold">Specifications</h3>
            <ul>
              
              <li><strong>Size:</strong> 18" x 23" x 45"</li>
              <li><strong>Motor:</strong> 32 M.M 110 ALM.</li>
              <li><strong>Blade:</strong> 15" Aluminium</li>
              <li><strong>Pump:</strong> 18W</li>
              <li><strong>Coating:</strong> Narolac Power Coated</li>
           </ul>
            
          </div>
          <AddToCart client:load productId={id!} price={discountedPrice!} name={product?.name!} />
          <div class="my-4">
            <span class="font-bold text-default-600">Share:</span>
            <div class="mt-2 flex items-center gap-2">
              <a
                class="inline-block rounded border border-[#1877f2] px-4 py-2 text-[#1877f2]"
                href="#"
              >
                <svg
                  class="h-4 w-4"
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 320 512"
                  height="200px"
                  width="200px"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                  ></path>
                </svg>
              </a>
              <a
                class="inline-block rounded border border-black px-4 py-2 text-black"
                href="#"
              >
                <svg
                  class="h-4 w-4"
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 512 512"
                  height="200px"
                  width="200px"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
                  ></path>
                </svg>
              </a>
              <a
                class="inline-block rounded border border-[#25D366] px-4 py-2 text-[#25D366]"
                href="#"
              >
                <svg
                  class="h-4 w-4"
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 448 512"
                  height="200px"
                  width="200px"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
                  ></path>
                </svg>
              </a>
              <a
                class="inline-block rounded border border-main px-4 py-2 text-main"
                href="#"
              >
                <svg
                  class="h-4 w-4"
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 512 512"
                  height="200px"
                  width="200px"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
